body {
    margin: 0;
    width: 1920px;
    height: 1080px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.calc-body {
    height: 500px;
    background-color: aqua;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.screen-container {
    flex-grow: 1;
    background-color: gray;
    width: 85%;
    margin: 10px 0;
}
.buttons-container {
    flex-grow: 3;
    flex-wrap: wrap;
    display: flex;
    align-items: center;
    justify-content: center;
}
button {
    width: 20%;
    margin: 5px;
    height: 20%;
}